
<div class="mt-4 pt-2">
<h4 class="text-center">Cadastre-se</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
    <div class="form-group">
        <input 
            class="form-control" 
            type="text" 
            formControlName="username" 
            placeholder="Username do usuário"/>
            <app-mensagem
                *ngIf="novoUsuarioForm.get('username')?.errors?.['required'] &&
                        novoUsuarioForm.get('username')?.touched"
                mensagem="Username é obrigatório.">
            </app-mensagem>
            <app-mensagem
                *ngIf="novoUsuarioForm.get('username')?.errors?.['minusculo']"
                mensagem="username apenas letras minúsculas.">
            </app-mensagem>
            <app-mensagem
                *ngIf="novoUsuarioForm.get('username')?.errors?.['usuarioExiste']"
                mensagem="Usuário já existe">
            </app-mensagem>
    </div>
    <br />
    <div class="form-group">
        <input 
            class="form-control" 
            type="email" 
            formControlName="email" 
            placeholder="E-mail"/>
            <app-mensagem 
                *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] &&
                novoUsuarioForm.get('email')?.touched"
                mensagem="E-mail obrigatório.">
            </app-mensagem>
            <app-mensagem 
                *ngIf="novoUsuarioForm.get('email')?.errors?.['email']"
                mensagem="Formato de e-mail inválido.">
            </app-mensagem>
    </div>
    <br />
    <div class="form-group">
        <input 
            class="form-control" 
            type="password" 
            formControlName="password" 
            placeholder="Password"/>
            <app-mensagem 
                *ngIf="novoUsuarioForm.get('password')?.errors?.['required'] &&
                novoUsuarioForm.get('username')?.touched"
                mensagem="Password obrigatório">
            </app-mensagem>
    </div>
    <br />
    <div class="form-group">
        <input 
            class="form-control" 
            type="password" 
            formControlName="repassword" 
            placeholder="Password confirmação"/>
            <app-mensagem 
                *ngIf="novoUsuarioForm.get('repassword')?.errors?.['required'] &&
                novoUsuarioForm.get('username')?.touched"
                mensagem="Password confirmação é obrigatório">
            </app-mensagem>
    </div>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary form-control">Cadastrar</button>
    </div>
</form>
<p>Já possue cadastro? <a [routerLink]="['']">Faça o login</a></p>
</div>